.caramelCookiesWrap {
  width: 100%;
  position: relative;
  background-image: url("../img/cookieBoxBacgroundMobile.png");
  background-size: cover;
  color: #ffffff;
  height: 852px;
  .caramelCookiesLimit {
    max-width: 1072px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    .telephone {
      margin: 41px 0 0 75px;
      font-weight: 400;
      font-size: 30px;
      line-height: 100%;
      display: none;
    }
    .mainTextWrap {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      h1 {
        font-weight: 500;
        font-size: 32px;
        line-height: 100%;
      }
      .secondMain {
        font-weight: 500;
        font-size: 28px;
        line-height: 100%;
        padding: 12px;
        border-radius: 30px;
        background: linear-gradient(90deg, #de7b11 0%, #ffa339 100%);
      }
      .mainDescription {
        padding-top: 15px;
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
      }
      margin-top: 90px;
    }
    .orderButton {
      margin: 0 auto 12px;
      color: #ffffff;
      background: linear-gradient(90.03deg, #de7b11 0.02%, #ffa339 109.46%);
      padding: 12px 113px;
      border-radius: 30px;
      font-weight: 500;
      font-size: 28px;
      line-height: 100%;
    }
  }
  .contactsWrap {
    display: none;
  }
}

@media screen and (min-width: 1140px) {
  .caramelCookiesWrap {
    min-height: 1072px;
    background-image: url("../img/cookieBoxBacgroundDesctopBlur.png");
    .caramelCookiesLimit {
      justify-content: space-around;
      .telephone {
        display: block;
      }

      .mainTextWrap {
        margin-top: 0;
        padding-left: 75px;
        align-items: start;
        h1 {
          font-size: 64px;
        }
        .secondMain {
          margin-left: -26px;
          padding-top: 5px;
          font-size: 64px;
          border-radius: 50px;
          padding: 5px 25px 10px;
        }
        .mainDescription {
          padding-top: 28px;
          font-size: 40px;
        }
      }
      .orderButton {
        padding: 18px 50px;
        font-size: 34px;
        border-radius: 50px;
        align-self: start;
      }
    }
    .contactsWrap {
      display: flex;
      gap: 15px;
      position: absolute;
      top: 950px;
      left: 1567px;
      .iconWhatsapp {
        background-color: #fff;
        border-radius: 50px;
        padding: 17px;
      }
      .iconTelephone {
        background-color: #fff;
        border-radius: 50px;
        padding: 17px;
      }
    }
  }
}
