.caramelCookiesWrap {
  width: 100%;
  position: relative;
  background-image: url("../img/cookieBoxBacgroundMobile.webp");
  background-size: cover;
  color: #ffffff;
  min-height: 625px;
}
.caramelCookiesLimit {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.telephone {
  display: none;
}
.mainTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 16px;
}
h1 {
  font-weight: 500;
  font-size: 32px;
}
.secondMain {
  font-weight: 500;
  font-size: 28px;
  padding: 12px;
  border-radius: 30px;
  background: linear-gradient(90deg, #de7b11 0%, #ffa339 100%);
}
.mainDescription {
  padding: 10px;
  background: linear-gradient(90deg, #de7b11 0%, #ffa339 100%);
  border-radius: 50px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px;
}
.contactsWrap {
  display: none;
}
@media screen and (min-width: 1200px) {
  .caramelCookiesWrap {
    background-image: url("../img/cookieBoxBacgroundDesctopBlur.webp");
  }
  .caramelCookiesLimit {
    min-height: 1072px;
  }
  .telephone {
    margin: 41px 0 0 75px;
    font-weight: 400;
    font-size: 30px;
    display: block;
  }
  .mainTextWrap {
    margin-top: 0;
    padding-left: 75px;
    align-items: start;
  }
  h1 {
    font-size: 64px;
  }
  .secondMain {
    margin-left: -26px;
    font-size: 64px;
    border-radius: 50px;
    padding: 5px 25px 10px;
  }
  .mainDescription {
    border-radius: 0;
    background: transparent;
    padding-top: 28px;
    font-size: 40px;
  }
  .orderButton {
    padding: 18px 50px;
    font-size: 34px;
    border-radius: 50px;
    align-self: start;
  }

  .iconWhatsapp {
    background-color: #fff;
    border-radius: 50px;
    padding: 17px;
  }
  .iconTelephone {
    background-color: #fff;
    border-radius: 50px;
    padding: 17px;
  }
  .contactsWrap {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 88%;
    left: 82%;
  }
}
