.nutritionalValue {
  margin-top: 40px;
}
.nutritionalMainWrap {
  margin-left: 20px;
}
.nutritionalMainContent {
}
.nutritionalMainText {
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
}
.nutritionalSecondText {
  font-weight: 400;
  font-size: 18px;
  color: #cfa47a;
}
.proteinWrap {
  display: flex;
  gap: 12px;
  margin: 14px 0 25px;
}
.proteinItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 110px;
  background: linear-gradient(180deg, #fff3d4 0%, #ffdfc0 132.89%);
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
  border-radius: 50%;
}
.proteinItem span {
  color: #6f3d07;
  font-weight: 400;
  font-size: 18px;
}
.recipe {
	background-image: url("../img/backgroundLastDesktop.png");
	background-size: cover;
}
.recipeMainText {


  margin-left: 20px;
  font-weight: 500;
  font-size: 22px;
  color: #d26d00;
}
.recipeDescription {
  margin-left: 20px;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.recipeDescription span {
  color: #d26d00;
}
.recipeDescriptionContinue {
	padding: 0;
margin: 0;
  margin-left: 20px;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-top: 20px;
}
.recipeDescriptionContinue span {
  color: #d26d00;
}
.plate {
}
.kcal {
}
.OurContacts {
}
.OurContactText {
}
.telephone {
}
.messengers {
}
.insta {
}
.telegramm {
}
.watsapp {
}
.boobleAtOZON {
}
.backgroundBox {
}
