.nutritionalValue {
  margin-top: 40px;
}
.nutritionalMainWrap {
  margin-left: 20px;
}
.nutritionalMainText {
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
}
.nutritionalSecondText {
  font-weight: 400;
  font-size: 18px;
  color: #cfa47a;
}
.proteinWrap {
  display: flex;
  gap: 12px;
  margin: 14px 0 25px;
}
.proteinItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 110px;
  height: 110px;
  background: linear-gradient(180deg, #fff3d4 0%, #ffdfc0 132.89%);
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
  border-radius: 50%;
}
.proteinItem span {
  color: #6f3d07;
  font-weight: 400;
  font-size: 18px;
}
.recipe {
  background-image: url("../img/bacgroundKcal.svg");
  background-size: cover;
}
.recipeMainText {
  margin-left: 20px;
  font-weight: 500;
  font-size: 22px;
  color: #d26d00;
}
.recipeDescription {
  margin-left: 20px;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
}
.recipeDescription span {
  color: #d26d00;
}
.recipeDescriptionContinue {
  margin-left: 20px;
  color: #464646;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  margin-top: 20px;
}
.recipeDescriptionContinue span {
  color: #d26d00;
}
.plateWrap {
  background-image: url("../img/backgroundLastMobile.svg");
  background-size: cover;
  position: relative;
}
.plateImg {
  margin-top: 40px;
  width: 391px;
  height: 267px;
}
.vectorKcal {
  display: none;
}
.kcal {
  position: absolute;
  top: 18%;
  left: 24%;
  font-weight: 600;
  font-size: 28px;
  background: linear-gradient(183.04deg, #ffb664 -4.26%, #ca6900 127.44%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 104px;
  height: 104px;
  color: #ffe6cc;
}
.kcal span {
  font-weight: 400;
  font-size: 18px;
}
.OurContacts {
  margin-left: 20px;
  position: relative;
}
.OurContactText {
  margin: 41px 0 21px;
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
}
.telephoneBottom {
  font-weight: 400;
  font-size: 18px;
  color: #6f3d07;
  margin-bottom: 10px;
}
.messengers {
  margin-top: 30px;
  display: flex;
  gap: 25px;
  padding-bottom: 50px;
}
.boobleAtOZON {
  display: none;
}
.backgroundBox {
  position: absolute;
  top: 19%;
  left: 46%;
}
.backgroundBox img {
  width: 200px;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .nutritionalValue {
    margin-top: 90px;
  }
  .nutritionalMainWrap {
    display: flex;
    margin-left: 76px;
    gap: 100px;
  }
  .nutritionalMainText {
    font-size: 64px;
    margin-bottom: 13px;
  }
  .nutritionalSecondText {
    font-size: 40px;
  }
  .proteinWrap {
    margin: 0;
    gap: 45px;
  }
  .proteinItem {
    width: 190px;
    height: 190px;
    font-size: 48px;
  }
  .proteinWrap span {
    font-size: 32px;
  }
  .recipe {
    background-image: url("../img/backgroundLastDesctop.svg");
  }
  .recipeMainText {
    width: 36%;
    font-size: 40px;
    margin: 0 0 35px 76px;
  }
  .recipeDescription {
    width: 36%;
    font-size: 30px;
    margin-left: 76px;
  }
  .recipeDescriptionContinue {
    margin-left: 76px;
    width: 36%;
    font-size: 30px;
  }
  .plateWrap {
    background-image: none;
  }
  .plate {
    margin: -22% 0 0 27%;
  }
  .plateImg {
    margin-top: 0;
    height: auto;
    width: auto;
  }
  .vectorKcal {
    display: block;
    position: absolute;
    top: 6%;
    left: 57%;
  }
  .kcal {
    top: 10%;
    left: 51%;
    font-size: 96px;
    width: 252px;
    height: 252px;
  }
  .kcal span {
    font-size: 32px;
  }
  .OurContacts {
    margin-left: 76px;
  }
  .OurContactText {
    margin: 166px 0 66px 0;
    font-size: 64px;
  }
  .telephoneBottom {
    font-size: 30px;
    margin-bottom: 38px;
  }
  .messengers {
    gap: 45px;
    padding-bottom: 222px;
  }
  .messengers img {
    width: 47px;
    height: auto;
  }
  .boobleAtOZON {
    line-height: 150%;
    position: absolute;
    top: 13%;
    left: 52%;
    z-index: 1;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
    border-radius: 50%;
    width: 255px;
    height: 255px;
    background: linear-gradient(183.04deg, #ffb664 -4.26%, #ca6900 127.44%);
    color: #ffe6cc;
  }
  .backgroundBox {
    top: -11%;
    left: 59%;
  }
  .backgroundBox img {
    width: auto;
  }
}
