.perfectWrap {
  min-height: 830px;
  background-image: url("../img/ornament.webp");
  position: relative;
}
.perfectMainText {
  font-weight: 600;
  font-size: 24px;
  color: #d26d00;
  width: fit-content;
  margin: 0 auto 5px;
  padding-top: 40px;
}
.perfectSecondText {
  color: #6f3d07;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  width: fit-content;
  margin: 0 auto;
}

.perfectFamilyWrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}
.perfectFamily {
  display: flex;
  flex-direction: column;
  gap: 115px;
}
.perfectFamily li {
  z-index: 1;
  width: fit-content;
  border-radius: 60px;
  padding: 19px 38px;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #854704;
  background: linear-gradient(94.34deg, #ffd7ab 1.69%, #ffc17d 118.24%);
}
.perfectFamilyItem3 {
  margin-top: 80px;
}
.connectLine {
  position: absolute;
  top: 19%;
  left: 24%;
  z-index: 0;
}
.perfectSurpriseWrap {
  margin-top: 85px;
}
.boobleHalykItem {
  z-index: 2;
  position: absolute;
  top: 55%;
  left: 10%;
  background: linear-gradient(183.04deg, #01aac4 -4.26%, #007f93 127.44%);
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  padding: 42px 10px;
  border-radius: 60px;
  width: fit-content;
}
.perfectSurpriseItem {
  z-index: 1;
  position: relative;
  margin: 0 auto;
  width: fit-content;
}
.perfectSurpriseItem img {
  width: 369px;
  height: auto;
}
.perfectCookie {
  z-index: 2;
  position: absolute;
  top: 85%;
  left: 52%;
}
.perfectCookie img {
  width: 189px;
  height: auto;
}
.bacgroundEllipse {
  position: absolute;
  top: 76%;
  left: 0;
  z-index: 0;
}
.bacgroundEllipse img {
  width: 100%;
  height: auto;
}
@media screen and (min-width: 1200px) {
  .perfectWrap {
    min-height: 1076px;
  }
  .perfectMainText {
    padding-top: 92px;
    font-size: 64px;
  }
  .perfectSecondText {
    font-size: 40px;
  }
  .perfectFamilyWrap {
    margin-top: 66px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 242px;
  }
  .perfectFamily {
    flex-direction: row;
    align-items: baseline;
  }
  .perfectFamily li {
    box-shadow: 0 0 50px 25px #ffd7ab;
    font-size: 34px;
  }
  .perfectFamilyItem1 {
    margin-top: 200px;
    align-self: start;
  }
  .perfectFamilyItem3 {
    margin-top: 0;
  }
  .perfectFamilyItem4 {
    margin-top: 200px;
    align-self: start;
  }
  .connectLine {
    display: none;
  }
  .boobleHalykItem {
    padding: 90px 20px;
    font-size: 36px;
    border-radius: 120px;
    top: 68%;
    left: 23%;
  }
  .perfectSurpriseItem {
    position: absolute;
    top: 35%;
    left: 31%;
  }
  .perfectSurpriseItem img {
    width: 780px;
    height: auto;
  }
  .perfectCookie {
    top: 61%;
    left: 61%;
  }
  .perfectCookie img {
    width: auto;
  }
  .bacgroundEllipse {
    top: 21%;
    left: 11%;
  }
}
