.safeConteinerWrap {
  margin-top: 40px;
}
.safeContMainText {
  color: #d26d00;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin: 0 auto;
  width: fit-content;
}
.safeContSecondText {
  color: #6f3d07;
  margin: 0 auto 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  width: fit-content;
}
.unionDiffOpenBoxWrap {
  background-image: url("../img/Bacground3blockMobile.png");
  background-size: cover;
  min-height: 702px;
}
.diffConteinersWrap {
  display: flex;
  gap: 17px;
  flex-wrap: wrap;

  justify-content: center;
}
.diffConteinersWrap > li img {
  width: 90px;
  height: 55px;
}
.diffConteinersWrap > li {
  background: linear-gradient(181.35deg, #fbcca2 1.15%, #f3dac2 153.21%);
  padding: 27px 8px;
  border-radius: 60px;
}
.openBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.openBoxTextLeft {
  position: absolute;
  top: 0;
  left: 5%;

  color: #d26d00;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: right;
}
.openBoxTextLeft span {
  color: #6f3d07;
}
.openBoxItem img {
  width: 400px;
  height: 300px;
}
.openBoxTextRight {
  margin-left: 190px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #6f3d07;
}
.openBoxTextRight span {
  font-weight: 600;
  color: #d26d00;
}
.orderForOzon {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
  background: linear-gradient(90.03deg, #de7b11 0.02%, #ffa339 109.46%);
  padding: 12px 50px;
  margin: 14px 20px 30px;
  border-radius: 60px;
}
@media screen and (min-width: 1140px) {
  .safeConteinerWrap {
    margin-top: 45px;
    background-image: url("../img/Bacground3blockDesctop.png");
    min-height: 1309px;
    background-size: cover;
  }
  .safeContMainText {
    font-size: 64px;
    padding-top: 173px;
  }
  .safeContSecondText {
    font-size: 40px;
  }
  .unionDiffOpenBoxWrap {
    background-image: none;
  }
  .diffConteinersWrap {
    gap: 44px;
  }
  .diffConteinersWrap > li img {
    width: auto;
    height: auto;
  }
  .diffConteinersWrap > li {
    background: linear-gradient(180deg, #fff3d4 0%, #ffdfc0 132.89%);
    padding: 65px 25px;
    border-radius: 130px;
  }
  .openBoxWrap {
    flex-direction: row;
  }
  .openBoxTextLeft {
    top: 21%;
    left: 3%;
    font-size: 40px;
  }
  .openBoxItem {
    margin-left: 28%;
  }
  .openBoxItem img {
    width: auto;
    height: auto;
  }
  .openBoxTextRight {
    position: absolute;
    top: 80%;
    left: 65%;
    font-size: 36px;
    margin-left: 0;
  }
  .openBoxTextRight span {
    font-size: 48px;
  }
  .orderForOzon {
    font-size: 34px;
    padding: 18px 50px;
    margin: 36px auto 46px;
    width: fit-content;
    display: block;
  }
}
