@import "nool.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.conteiner {
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  height: auto;
}
.contactsWrap {
  position: fixed;
  bottom: 10%;
  right: 7%;
  z-index: 10;
}
@media screen and (min-width: 1200px) {
  .iconWhatsapp {
    display: block;
    background-color: #fff;
    border-radius: 50px;
    padding: 17px;
  }
}
@import "caramelCookies.scss";
@import "discount.scss";
@import "souvenir.scss";
@import "safeConteiner.scss";
@import "perfect.scss";
@import "nutritional.scss";
