@import "nool.scss";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.conteiner {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.limit__content {
  // max-width: 1000px;
  margin: 0 auto;
}

@import "caramelCookies.scss";
@import "discount.scss";
@import "souvenir.scss";
@import "safeConteiner.scss";
