@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
}

input,
button,
textarea {
  font-family: inherit;
  background: none;
  border: none;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
.conteiner {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

.limit__content {
  margin: 0 auto;
}

.caramelCookiesWrap {
  width: 100%;
  position: relative;
  background-image: url("../img/cookieBoxBacgroundMobile.png");
  background-size: cover;
  color: #ffffff;
  height: 852px;
}
.caramelCookiesWrap .caramelCookiesLimit {
  max-width: 1072px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.caramelCookiesWrap .caramelCookiesLimit .telephone {
  margin: -100px 0 0 75px;
  font-weight: 400;
  font-size: 30px;
  line-height: 100%;
  display: none;
}
.caramelCookiesWrap .caramelCookiesLimit .mainTextWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 90px;
}
.caramelCookiesWrap .caramelCookiesLimit .mainTextWrap h1 {
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}
.caramelCookiesWrap .caramelCookiesLimit .mainTextWrap .secondMain {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  padding: 12px;
  border-radius: 30px;
  background: linear-gradient(90deg, #de7b11 0%, #ffa339 100%);
}
.caramelCookiesWrap .caramelCookiesLimit .mainTextWrap .mainDescription {
  padding-top: 15px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}
.caramelCookiesWrap .contactsWrap {
  display: none;
}

@media screen and (min-width: 1140px) {
  .caramelCookiesWrap {
    min-height: 1072px;
    background-image: url("../img/cookieBoxBacgroundDesctopBlur.png");
  }
  .caramelCookiesWrap .caramelCookiesLimit {
    justify-content: space-around;
  }
  .caramelCookiesWrap .caramelCookiesLimit .telephone {
    display: block;
  }
  .caramelCookiesWrap .caramelCookiesLimit .mainTextWrap {
    margin-top: 0;
    padding-left: 75px;
    align-items: start;
  }
  .caramelCookiesWrap .caramelCookiesLimit .mainTextWrap h1 {
    font-size: 64px;
  }
  .caramelCookiesWrap .caramelCookiesLimit .mainTextWrap .secondMain {
    margin-left: -26px;
    padding-top: 5px;
    font-size: 64px;
    border-radius: 50px;
    padding: 5px 25px 10px;
  }
  .caramelCookiesWrap .caramelCookiesLimit .mainTextWrap .mainDescription {
    padding-top: 28px;
    font-size: 40px;
  }
  .caramelCookiesWrap .caramelCookiesLimit .orderButton {
    padding: 18px 50px;
    font-size: 34px;
    border-radius: 50px;
    align-self: start;
  }
  .caramelCookiesWrap .contactsWrap {
    display: flex;
    gap: 15px;
    position: absolute;
    top: 88%;
    left: 82%;
  }
  .caramelCookiesWrap .contactsWrap .iconWhatsapp {
    background-color: #fff;
    border-radius: 50px;
    padding: 17px;
  }
  .caramelCookiesWrap .contactsWrap .iconTelephone {
    background-color: #fff;
    border-radius: 50px;
    padding: 17px;
  }
}
.discountWrap {
  position: relative;
}
.discountWrap .discountSurprise {
  position: absolute;
  top: -51px;
  left: 27px;
  z-index: 1;
  background: #de7b11;
  border-radius: 30px;
  padding: 10px;
}
.discountWrap .discountText {
  position: absolute;
  top: -52px;
  left: 62px;
  z-index: 0;
  align-items: center;
  padding: 12px 28px;
  width: 65%;
  background: linear-gradient(90deg, #3a3a3a 0%, #5b5b5b 100%);
  border-radius: 40px;
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
}
.discountWrap .discountText span {
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  color: #fb9e34;
}
.discountWrap .discountPrice {
  z-index: 1;
  position: absolute;
  top: -97px;
  left: 214px;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  background: #de7b11;
  border-radius: 30px;
  padding: 15px 18px;
}
.discountWrap .orderButton {
  margin: 292px 20px 12px;
  color: #ffffff;
  background: linear-gradient(90.03deg, #de7b11 0.02%, #ffa339 109.46%);
  padding: 12px 113px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
}

@media screen and (min-width: 1140px) {
  .discountWrap .discountSurprise {
    padding: 14px;
    top: -47px;
    left: 52px;
    border-radius: 50px;
  }
  .discountWrap .discountText {
    padding: 21px 28px 21px 69px;
    font-size: 34px;
  }
  .discountWrap .discountText span {
    font-size: 34px;
  }
  .discountWrap .discountPrice {
    font-size: 48px;
    position: absolute;
    top: 31px;
    left: 292px;
    border-radius: 0;
    background: none;
  }
  .discountWrap .orderButton {
    margin: 34px 0 0 53px;
  }
}
.souvenirMainWrap {
  margin: 40px 20px 0;
}

.souvenirMainText {
  color: #d26d00;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-transform: uppercase;
}

.souvenirSecondText {
  font-weight: 300;
  font-size: 18px;
  line-height: 100%;
  color: #6d6460;
}

.souvenirDescriptionWrap {
  margin-top: 15px;
}

.souvenirDescriptiontext {
  margin: 0 20px;
  color: #464646;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

.souvenirOzonWrap {
  background-image: url("../img/souvenirMobile.png");
  background-size: cover;
  min-height: 495px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ozonLink {
  background: linear-gradient(183.04deg, #ffb664 -4.26%, #ca6900 127.44%);
  border-radius: 60px;
  padding: 34px 14px;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  color: #fff;
  margin-bottom: 252px;
}

@media screen and (min-width: 1140px) {
  .souvenirMainWrap {
    margin: 88px 100px 0;
  }
  .souvenirMainText {
    font-size: 64px;
    margin-bottom: 10px;
  }
  .souvenirSecondText {
    font-size: 40px;
  }
  .souvenirDescriptionWrap {
    background-image: url("../img/souvenirDesctop.png");
    background-size: cover;
    min-height: 903px;
    margin-top: 58px;
  }
  .souvenirDescriptiontext {
    font-size: 30px;
    width: 56%;
    margin-left: 100px;
  }
  .souvenirOzonWrap {
    display: none;
  }
}
.safeConteinerWrap {
  margin-top: 40px;
}

.safeContMainText {
  color: #d26d00;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  margin: 0 auto;
  width: -moz-fit-content;
  width: fit-content;
}

.safeContSecondText {
  color: #6f3d07;
  margin: 0 auto 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  width: -moz-fit-content;
  width: fit-content;
}

.unionDiffOpenBoxWrap {
  background-image: url("../img/Bacground3blockMobile.png");
  background-size: cover;
  min-height: 702px;
}

.diffConteinersWrap {
  display: flex;
  gap: 17px;
  flex-wrap: wrap;
  justify-content: center;
}

.diffConteinersWrap > li img {
  width: 90px;
  height: 55px;
}

.diffConteinersWrap > li {
  background: linear-gradient(181.35deg, #fbcca2 1.15%, #f3dac2 153.21%);
  padding: 27px 8px;
  border-radius: 60px;
}

.openBoxWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.openBoxTextLeft {
  position: absolute;
  top: 0;
  left: 5%;
  color: #d26d00;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  text-align: right;
}

.openBoxTextLeft span {
  color: #6f3d07;
}

.openBoxItem img {
  width: 400px;
  height: 300px;
}

.openBoxTextRight {
  margin-left: 190px;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  color: #6f3d07;
}

.openBoxTextRight span {
  font-weight: 600;
  color: #d26d00;
}

.orderForOzon {
  font-weight: 500;
  font-size: 28px;
  line-height: 100%;
  color: #ffffff;
  background: linear-gradient(90.03deg, #de7b11 0.02%, #ffa339 109.46%);
  padding: 12px 50px;
  margin: 14px 20px 30px;
  border-radius: 60px;
}

@media screen and (min-width: 1140px) {
  .safeConteinerWrap {
    margin-top: 45px;
    background-image: url("../img/Bacground3blockDesctop.png");
    min-height: 1309px;
    background-size: cover;
  }
  .safeContMainText {
    font-size: 64px;
    padding-top: 173px;
  }
  .safeContSecondText {
    font-size: 40px;
  }
  .unionDiffOpenBoxWrap {
    background-image: none;
  }
  .diffConteinersWrap {
    gap: 44px;
  }
  .diffConteinersWrap > li img {
    width: auto;
    height: auto;
  }
  .diffConteinersWrap > li {
    background: linear-gradient(180deg, #fff3d4 0%, #ffdfc0 132.89%);
    padding: 65px 25px;
    border-radius: 130px;
  }
  .openBoxWrap {
    flex-direction: row;
  }
  .openBoxTextLeft {
    top: 21%;
    left: 3%;
    font-size: 40px;
  }
  .openBoxItem {
    margin-left: 28%;
  }
  .openBoxItem img {
    width: auto;
    height: auto;
  }
  .openBoxTextRight {
    position: absolute;
    top: 80%;
    left: 65%;
    font-size: 36px;
    margin-left: 0;
  }
  .openBoxTextRight span {
    font-size: 48px;
  }
  .orderForOzon {
    font-size: 34px;
    padding: 18px 50px;
    margin: 36px auto 46px;
    width: -moz-fit-content;
    width: fit-content;
    display: block;
  }
}
.perfectWrap {
  min-height: 830px;
  background-image: url("../img/ornament.png");
  position: relative;
}

.perfectMainText {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  color: #d26d00;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 5px;
  padding-top: 40px;
}

.perfectSecondText {
  color: #6f3d07;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.perfectFamilyWrap {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 20px;
}

.perfectFamily {
  display: flex;
  flex-direction: column;
  gap: 115px;
}

.perfectFamily li {
  z-index: 1;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 60px;
  padding: 19px 38px;
  font-weight: 400;
  font-size: 22px;
  line-height: 110%;
  color: #854704;
  background: linear-gradient(94.34deg, #ffd7ab 1.69%, #ffc17d 118.24%);
}

.perfectFamilyItem3 {
  margin-top: 80px;
}

.connectLine {
  position: absolute;
  top: 21%;
  left: 24%;
  z-index: 0;
}